.App {
  background-color: #282c34;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
	text-align: center;
  color: white;
}

.cardsSixteen {
	width: 450px;
}

@media screen and (max-width: 450px) {
	.cardsSixteen {
		width: 250px;
	}
}

.levelUp {
	width: 800px;
}

@media screen and (max-width: 1000px) {
	.levelUp {
		width: 450px;
	}
}

@media screen and (max-width: 450px) {
	.levelUp {
		width: 250px;
	}
}