.card {
	border: 2px solid grey;
	margin: 5px;
	width: 80px;
	overflow: hidden;
	display: inline-flex;
	opacity: 0.1;
}

.card:hover {
	cursor: pointer;
}

.logo {
	border: 1px solid grey;
	width: 78px;
	height: 78px;
}

.active {
	opacity: 1;
	pointer-events: none;
}

.noActive {
	opacity: 0.1;
	pointer-events: none;
}

.disabled {
	opacity: 0.5;
}

@media screen and (max-width: 450px) {
	.card {
	border: 1px solid grey;
		width: 40px;
	}

	.logo {
	border: 1px solid grey;
		width: 38px;
		height: 38px;
	}
}