.button {
	display: inline-block;
	background-color: #413e45;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 21px;
	padding: 20px;
	width: 150px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

button:active,
button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}